a{
  text-decoration: none;
}
.avatar{
  background: url('../../assets/images/myAvatar.png');
  background-repeat: no-repeat;
  background-size: 650px 650px;
  background-position: center;
  display: flex;
  top: 160px;
  right: 100px;
  height: 600px;
  width: 600px;
  position: absolute;
}
.welcome-name{
  color: white;
    position: absolute;
    z-index: -1;
    padding-top: 13rem;
    margin-bottom: 12rem;
    padding-left: 14rem;
    width: 18%;
    font-size: 7rem;
    font-weight: 700;
    text-shadow:1px 3px 3px grey;
}
.welcome-text{
  color: white;
    position: absolute;
    padding-top: 34rem;
    margin-bottom: 12rem;
    padding-left: 14rem;
    width: 28%;
    font-size: 33px;
    font-weight: 600;
}

.border-letter{
  display: inline-block;
  margin-bottom: 3.2rem;
}
.line1, .line2, .line3, .scroll-down{
  position: absolute;
  display: block;
  height: 6px;
  border-radius: 5px;
  }
  
.line1{
  width: 18rem;
  background: gold;
  margin-top: 29rem;
  margin-left: 14rem;
}

.line2{
  background: #ff4d5a;
  width: 25rem;
  margin-top: 30rem;
  margin-left: 26rem;
}
.line3{
  background: white;
  width: 83rem;
  margin-top: 47.5rem;
  margin-left: 15rem;
  height: 2px;
}
.scroll-down{
  line-height: 1;
  letter-spacing: 0.3em;
  font-size: 0.9rem;
  writing-mode: vertical-rl;
  width: 10px;
  height: 104px;
  color: white;
  left: 226px;
  animation: MoveUpDown 1s linear infinite;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 60px;
  }
  50% {
    bottom: 80px;
  }
}


/* --------------------------PROJECT SECTION------------------------------ */
.project-section{
  margin-top: 60rem;
  padding-left: 14rem;
}
.project-title{
  margin-bottom: 5rem;
  width: 18%;
  font-size: 7rem;
  font-weight: 700;
  text-shadow: 1px 3px 3px grey;
}
.project-container{
  margin-bottom: 15px;
  border-radius: 13px;
  border: 3px solid red;
  height: 28.1rem;
  width: 83rem;
}
.project-container2{
  margin-bottom: 15px;
  border-radius: 13px;
  border: 3px solid gold;
  height: 28.1rem;
  width: 83rem;
}
.project-container3{
  margin-bottom: 15px;
  border-radius: 13px;
  border: 3px solid skyblue;
  height: 28.1rem;
  width: 83rem;
}

.project-text-right{
  margin-left: 60px;
  padding-left: 55%;
  margin-top: 7px;
  font-size: 1.5rem;
}
.project-text-left{
  margin-right: 59px;
  padding-right: 55%;
  margin-top: 7px;
  font-size: 1.5rem;
  margin-left: 38px;
}

.site-btn1{
  font-weight: 900;
  height: 30px;
  width: 70px;
  border-radius: 20px;
  margin-left: 39px;
  margin-top: 29px;
  box-shadow: 0px 0px 6px 3px white
}
.site-btn2{
  font-weight: 900;
  height: 30px;
  width: 70px;
  border-radius: 20px;
  margin-left: 39px;
  box-shadow: 0px 0px 6px 3px white
}
.site-btn3{
  font-weight: 900;
  height: 30px;
  width: 70px;
  border-radius: 20px;
  margin-left: 39px;
  margin-top: 7rem;
  box-shadow: 0px 0px 6px 3px white
}
.site-btn4{
  font-weight: 900;
  height: 30px;
  width: 70px;
  border-radius: 20px;
  margin-left: 39px;
  margin-top: 5.3rem;
  box-shadow: 0px 0px 6px 3px white
}
.site-btn1 > a:visited, .site-btn2 > a:visited,  .site-btn3 >a:visited, .site-btn4 >a:visited{
color: black;
}
.site-btn1 > a:hover, .site-btn2 > a:hover,  .site-btn3 >a:hover, .site-btn4 >a:hover{
  color:#eeeeee;
  }
.site-btn1:hover, .site-btn2:hover,  .site-btn3:hover, .site-btn4:hover{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color:#c62d1f;
  color:#eeeeee;
}


.project1{
  background: url('../../assets/images/p1.jpg');
  float: left;
  width: 750px;
  height: 450px;
  background-size: 750px 450px;
  border-radius: 10px;
}
.project2{
  background: url('../../assets/images/p2.jpg');
  float: right;
  width: 750px;
  height: 450px;
  background-size: 750px 450px;
  border-radius: 10px;
}
.project3{
  background: url('../../assets/images/p3.jpg');
  float: left;
  width: 750px;
  height: 450px;
  background-size: 750px 450px;
  border-radius: 10px;
}
.project4{
  background: url('../../assets/images/p4.jpg');
  float: right;
  width: 750px;
  height: 450px;
  background-size: 750px 450px;
  border-radius: 10px;
}
.project5{
  background: url('../../assets/images/p5.jpg');
  float: left;
  width: 750px;
  height: 450px;
  background-size: 750px 450px;
  border-radius: 10px;
}


